@import "../../../../Assets//style/variables" ;

.works-navbar-mobile {
    margin-left: 5px;
    width: 97% ;
    padding-right: 10px;
}
.works-navbar {
    display: flex;
    flex-direction: row;
    z-index: 10;
    .works-navbar-item {
        padding: 2px 5px;
        font-size: 12px;
        font-family: Montserrat-Medium;
    }
    
}

@media screen and (max-width: 1024px) {
    .works-navbar {
        .works-navbar-mobile {
            margin-left: 5px;
    }
    }}