@import "../../../Assets/style/variables";


.home-five {
    height: 100%;
    background: url('../../../Assets/Images/Page5/05-bg@2x.png') center / cover no-repeat;
    // background-color: map-get($map: $color, $key: blue-1);
    .home-five-container {
        height: 100%;
        margin-left: 10%;
    
        .home-five-main {
            display: flex;
            flex-direction: row;
            position: relative;
            padding-top: 19vh;
            h2 {
                position: absolute;
                left: 35%;
                font-size: 4.3em;
                top: 60%;
                color: #deff72;
                transform: translateX(-100%);
                opacity: 0;
            }
            .home-five-contact {
                display: flex;
                flex-direction: column;
                gap: 50px;
                color: map-get($map: $color, $key: w);

                .home-five-contact-item {
                    .link {
                        color: map-get($map: $color, $key: w);
                    }
                    h3 {
                        font-size: 2em;
                        margin-bottom: 20px;
                        transform: translateX(100%);
                        opacity: 0;
                        
                    }
                    .home-five-contact-item-mail {
                        position: relative;
                        transform: translateY(-40px);
                        transition: all 0.5s ease;
                        transition-delay: 1s;
                        height: 35px;
                        cursor: pointer;
                        p {
                            font-size: .8em;
                            font-weight: 300;
                            margin-left: 20px;
                            line-height: 35px;
                            z-index: 10;
                            display: block;
                            transition: all 0.5s ease;
                        }    
                        &:hover .contact-item-mail-icon {
                            background-color: #fff;
                            opacity: 1;
                            transition: all 0.5s ease;
                        }
                        &:hover p {
                            color: map-get($map: $color, $key: black-1);
                            // font-weight: 500;
                            transition: all 0.5s ease;

                        }
                        .contact-item-mail-icon {
                            position: absolute;
                            bottom: 0%;
                            left: 0%;
                            padding-right: 10px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            z-index: -1;
                            opacity: 0;
                            transition: all 0.5s ease;
                            svg {
                                color: map-get($map: $color, $key: black-1);
                                transition-delay: 0.25s;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section.active {
    .home-five {
        .home-five-container {
            .home-five-main {
                h2 {
                    transform: translateY(0);
                    opacity: 1;
                    transition: all 1s ease;
                }
                .home-five-contact {
                    .home-five-contact-item{
                        h3 {
                            transform: translateX(0) !important;
                            opacity: 1 !important;
                            transition: all 1s ease;
                        }
                        .home-five-contact-item-mail {
                            transform: translateY(0);
                            transition: all 0.5s ease;
                            transition-delay: 1s;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    .home-two {
        .home-two_sliders {
            width: 60vw !important;
            height: 60vw !important;
        }
    }
}


@media screen and (max-width: 576px) {
    .home-five {
        .home-five-container {
            margin-left: 0;
            font-size: 55%;
            .home-five-main {
                padding-top: 40vh;
                justify-content: center;
                .home-five-contact {
                    gap: 20px;
                    width: 100%;
                    text-align: center;
                    
                    .home-five-contact-item {
                        h3 {
                            font-size: 2.5em;
                            margin-bottom: 10px;
                        }
                        
                        .home-five-contact-item-mail{
                            p{
                                font-size: 1.8em;
                                margin-left: unset;
                            }
                            .contact-item-mail-icon {
                                max-width: 250px;
                                transform: translateX(-50%);
                                left: 50%;
                            }
                        }
                    }
                }
                h2 {
                    left: 0%;
                    top: 15%;
                    font-size: 3.5em;
                    width: 100%;
                    text-align: center;
                }
            }
        }
}
    }