
.works {
    .works-footer {
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #fff;
        z-index: 12;
        .works-footer-logo {
            height: 16px;
            width: 42px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .works-footer-list {
            display: flex;
            flex-direction: row;
            li {
                a {
                    margin: 0 5px;
                    color: #b4b4b4;
                    cursor: pointer;
                    font-family: Montserrat-Medium;
                    font-size: 11px;
                    padding-bottom: 5px;
                    box-sizing: border-box;
                    color: #b4b4b4;
                    &:first-child {
                        margin-left: 15px;
                    }
                    
                }
                &:hover {
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .works-footer-logo {
        display: none !important;
    }
}