@import '../../../../Assets/style/variables';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    .modal-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background: #fff;
        padding-right: 20px;
        position: relative;
        .modal-scroll {
            overflow-y: scroll;
            padding: 30px 30px 0;
            height: 100%;
            .modal-item-video {
                max-width: calc(177.778vh);
                height: calc(42.25vw);  
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .works-item-desc {
                color: map-get($map: $color, $key: b);
                margin: 40px 0;
                p {
                    font-size: 12px;
                    font-weight: 700;
                    font-family: Montserrat;
                    margin-bottom: 15px;
                }
                h3 {
                    font-weight: 700;
                    font-size: 25px;
                }
            }
            .modal-item-btn {
                width: 150px;
                height: 50px;
                background-color: #000;
                margin: 30px auto;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                a { 
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 50px;
                    font-family: Montserrat-ExtraLight,Noto Sans KR;
                    font-weight: 100;
                    color: map-get($map: $color, $key: w);
                }
            }
        }
        .modal-btn-close {
            position: absolute;
            top: 0;
            left: 100%;
            width: 50px;
            height: 50px;
            background: #000;
            cursor: pointer;

            &:hover {
                .modal-btn-icon {
                    transform: rotate(360deg);
                    transition: all .3s ease;
                }
            }
            .modal-btn-icon {
                height: 100%;
                position: relative;
                transform: rotate(0);
                transition: all .3s ease;
                span {
                    width: 30px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    &:first-child {
                        left: 10px;
                        top: 50%;
                        transform: translate(0%, -50%) rotate(45deg);
                    }
                    &:last-child {
                        left: 50%;
                        top: 24px;
                        transform: translate(-50%, 0%) rotate(132deg);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .modal {
        .modal-container {
            padding-right: unset;
        }
    }
}

@media screen and (max-width: 576px) {
    .modal {
        .modal-container {
            width: 100%;
            padding-right: unset;
            .modal-btn-close {
                left: unset;
                right: 20px;
                transform: scale(0.5);
                border-radius: 5px;
            }
            .modal-scroll {
                padding: 50px 0 0;
                .modal-item-video {
                    height: 50vw;
                }
                .works-item-desc {
                    padding: 0 20px;
                }
            }
        }
    }
}