@import "../../../Assets/style/variables";

.home-three {
    height: 100%;
    background-color: map-get($map: $color, $key: blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
    .home-three_container {
        width: 100%;
        display: flex;
        justify-content: center;
        .home-three-main {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .home-three-items {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;  
                justify-content: center;
                gap: 20px;
                .home-three-item {
                    .home-three-item-container {
                    display: flex;
                    flex-direction: column;
                    background: #19065f;
                    padding-top:40px;
                    padding-bottom: 30px;
                    transition: all 0.5s ease;
                    width: 366px;
                    overflow-y: hidden;
                    h3, .home-three-item-desc {
                        padding-left: 20px;
                    }
                    h3 {
                        color: #604da6;
                        font-size: 40.5px;
                        font-stretch: normal;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: normal;
                        line-height: 1;
                        max-width: 150px;
                        min-height: 91px;
                        padding-bottom: 10px;
                        padding-left: 20px;
                        text-align: left;
                        transition: all .5s;
                    }
                    .home-three-item-img {
                        height: 280px;
                        margin-bottom: 25px;
                    }
                    .home-three-item-desc {
                        width: 80%;
                        color: #604da6;
                        h4 {
                            font-size: 14px;
                            margin-bottom: 14px;
                            opacity: 0;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 300;
                            transform: translateY(-25px);
                        }
                    }
                    &:hover {
                        background: #673dc7;
                        transform: scale(1.1);
                        transition: all 0.5s ease;
                        margin: 0 30px;
                        h3{
                            color: map-get($map: $color, $key: main);
                            transition: all 0.5s ease;
                        }
                        .home-three-item-desc {
                            color: map-get($map: $color, $key: main);
                            transition: all 0.2s ease;
                            h4 {
                                opacity: 1;
                                transition: all 0.2s ease;
                            }
                            p {
                                transform: translateY(0);
                                transition: all 0.5s ease;
                            }
                        }
                    }
                    &.left {
                        transform: translateX(-20px);
                        transition: all 0.5s ease;
                    }
                    &.right {
                        transform: translateX(20px);
                        transition: all 0.5s ease;
                    }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .home-three {
        .home-three_container {
            .home-three-main {
                .home-three-items {
                    flex-direction: column;
                    .home-three-item {
                        .home-three-item-container {
                            // height: 22vh;
                            min-width: 600px;
                            padding-top: unset;
                            padding: 15px;
                            h3, .home-three-item-desc {
                                padding-left: unset;
                            }
                            .home-three-item-img {
                                display: none;
                            }
                            .home-three-item-desc {
                                width: 100%;
                                // h4 {
                                //     display: none;
                                // }
                                p {
                                    transform: unset;
                                }
                            }
                            &:hover {
                                margin: 10px 0;

                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .home-three {
        .home-three_container {
            .home-three-main {
                .home-three-items {
                    gap: 10px;
                    .home-three-item {
                        
                        .home-three-item-container {
                            padding-top: 10px;
                            height: 100px;
                            max-width: 320px;
                            min-width: unset;
                        h3 {
                            font-size: 30px;
                            margin-bottom: 15px;
                        }
                        .home-three-item-img {
                            display: none;
                        }
                        .home-three-item-desc {
                            width: 100%;
                            display: none;
                            h4 {
                                display: none;
                            }
                            p {
                                transform: unset;
                            }
                        }
                        &:hover {
                            height: 250px;
                            transform: unset;
                            .home-three-item-desc {
                                display: block;
                            }
                        }
                        }
                    }
                }
            }
        }
    }
}