@import "../../../Assets/style/variables";

.home-three {
    height: 100%;
    background-color: map-get($map: $color, $key: blue-1);
    .home-three_container {
        height: 100%;
        margin: 0 10%;
        .home-three-main {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .home-three-items {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 20px;
                .home-three-item {
                    display: flex;
                    flex-direction: column;
                    background: #19065f;
                    padding-top: 60px;
                    padding-bottom: 70px;
                    transition: all 0.5s ease;
                    width: 25%;
                    h3, .home-three-item-desc {
                        padding-left: 20px;
                    }
                    h3 {
                        font-size: 40px;
                        font-weight: 600;
                        height: 78px;
                        margin-bottom: 38px;
                        color: #604da6;
                    }
                    .home-three-item-img {
                        height: 280px;
                        margin-bottom: 25px;
                    }
                    .home-three-item-desc {
                        width: 80%;
                        color: #604da6;
                        h4 {
                            font-size: 14px;
                            margin-bottom: 14px;
                            opacity: 0;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 300;
                            transform: translateY(-25px);
                        }
                    }
                    &:hover {
                        background: #673dc7;
                        transform: scale(1.1);
                        transition: all 0.5s ease;
                        h3{
                            color: map-get($map: $color, $key: main);
                            transition: all 0.5s ease;
                        }
                        .home-three-item-desc {
                            color: map-get($map: $color, $key: main);
                            transition: all 0.2s ease;
                            h4 {
                                opacity: 1;
                                transition: all 0.2s ease;
                            }
                            p {
                                transform: translateY(0);
                                transition: all 0.5s ease;
                            }
                        }
                    }
                    &.left {
                        transform: translateX(-20px);
                        transition: all 0.5s ease;
                    }
                    &.right {
                        transform: translateX(20px);
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .home-three {
        .home-three_container {
            .home-three-main {
                .home-three-items {
                    flex-direction: column;
                    .home-three-item {
                        height: 22vh;
                        width: 100%;
                        padding-top: unset;
                        padding: 15px;
                        h3, .home-three-item-desc {
                            padding-left: unset;
                        }
                        .home-three-item-img {
                            display: none;
                        }
                        .home-three-item-desc {
                            width: 100%;
                            h4 {
                                display: none;
                            }
                            p {
                                transform: unset;
                            }
                        }
                        &.left {
                            transform: translateY(-20px);
                            transition: all 0.5s ease;
                        }
                        &.right {
                            transform: translateY(20px);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .home-three {
        .home-three_container {
            .home-three-main {
                .home-three-items {
                    gap: 5px;
                    .home-three-item {
                        padding:0 15px;
                        height: 17vh;
                        h3 {
                            font-size: 30px;
                            margin-bottom: 15px;
                        }
                        .home-three-item-img {
                            display: none;
                        }
                        .home-three-item-desc {
                            width: 100%;
                            display: none;
                            h4 {
                                display: none;
                            }
                            p {
                                transform: unset;
                            }
                        }
                        &.left {
                            transform: translateY(-20px);
                            transition: all 0.5s ease;
                        }
                        &.right {
                            transform: translateY(20px);
                            transition: all 0.5s ease;
                        }
                        &:hover {
                            height: max-content;
                            .home-three-item-desc {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}