@import "../../Assets/style/variables";

.navbar {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    .navbar-main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        .navbar-menu-btn {
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            z-index: 100;
            padding: 0 0 20px 10px ;
            span {
                height: 2px;
                width: 40px;
                background-color: map-get($map: $color, $key: w);
                transition: all 0.5s ease;
            }
            &.active {
                span:first-child {
                    transform: translate(0%, 12px) rotate(-45deg);
                    transition: all 0.5s ease;
                }
                span:last-child {
                    transform:  rotate(45deg);
                    transition: all 0.5s ease;
                } 
            }
        }
        .navbar-language {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .navbar-language-item {
                color: map-get($map: $color, $key: w);
                cursor: pointer;
                &.active {
                    color: map-get($map: $color, $key: green-1);
                }
    
            }
        }
        .navbar-menu {
            position: absolute;
            top: -50px;
            right: -50px;
            width: 460px;
            height: 100vh;
            transform: translateX(100%);
            transition: all .5s ease;
            background: rgba($color: #000000, $alpha: 1);
            .navbar-menu-main {
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: flex-start;
                justify-content: space-between;
                height: 100%;
                padding: 150px 50px 50px 32px;
                .navbar-list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .navbar-link {
                        text-transform: uppercase;
                        font-size: 36px;
                        color: #4d4d4d;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        &:hover {
                            color: map-get($map: $color, $key: w);
                            transition: all 0.5s ease;
                        }
                        &.active {
                            color: #fff;
                        }
                    }
                }

                .navbar-menu-info {
                    width: 80%;
                    border-top: 1px solid #4d4d4d;
                    font-weight: 100;
                    font-size: 12px;
                    color: #fff;
                    background: #000;
                    p {

                    }
                    .address {
                        padding-top: 40px;
                        padding-bottom: 20px;
                        width: 80%;
                    }
                    .link {
                        color: #fff;
                        text-decoration: none;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-weight: 100;
                            -webkit-transition: color .3s ease;
                            transition: color .3s ease;
                        }
                    }
                }
            }
            &.active {
                transform: translateX(0);
                transition: all .5s ease;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 576px) {
    .navbar {
        top: 20px;
        right: 30px;
        .navbar-main {

            .navbar-menu {
                padding-left: 30px;
                padding-top: 90px;
                width: 60vw !important;
                top: -20px;
                right: -30px;
                .navbar-menu-main {
                    padding: 0 0 50px 0; 
                    .navbar-list {
                        .navbar-link {
                            font-size: 20px;
                            
                        }
                    }
                    
                    .navbar-menu-info {
                        .address {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}