@import "../../Assets/style/variables";

.navbar {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    .navbar-main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        .navbar-menu-btn {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            z-index: 100;
            span {
                height: 2px;
                width: 40px;
                background-color: map-get($map: $color, $key: w);
                transition: all 0.5s ease;
            }
            &.active {
                span:first-child {
                    transform: translate(0%, 12px) rotate(-20deg);
                    transition: all 0.5s ease;
                }
                span:last-child {
                    transform:  rotate(20deg);
                    transition: all 0.5s ease;
                } 
            }
        }
        .navbar-language {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .navbar-language-item {
                color: map-get($map: $color, $key: w);
                cursor: pointer;
                &.active {
                    color: map-get($map: $color, $key: green-1);
                }
    
            }
        }
        .navbar-menu {
            position: absolute;
            top: -50px;
            right: -50px;
            width: 300px;
            height: 50vh;
            transform: translateX(100%);
            transition: all .5s ease;
            background: rgba($color: #000000, $alpha: 1);
            .navbar-menu-main {
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
                padding-top: 80px;
                .navbar-logo {
                    width: 114px;
                    height: 20px;
                    img {
                        object-fit: fill;
                    }
                }
                .navbar-list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .navbar-link {
                        text-transform: uppercase;
                        font-size: 20px;
                        color: map-get($map: $color, $key: w);
                        cursor: pointer;
                        &:hover {
                            color: map-get($map: $color, $key: green-1);
                        }
                    }
                }
            }
            &.active {
                transform: translateX(0);
                transition: all .5s ease;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 576px) {
    .navbar {
        top: 20px;
        right: 30px;
        .navbar-main {
            .navbar-menu {
                top: -20px;
                right: -30px;
            }
        }
    }
}