@import "../../../Assets/style/variables";

.home-two {
    height: 100%;
    background-color: map-get($map: $color, $key: blue-1);
    .home-two_container {
        height: 100%;
        .home-two_main {
            height: 100%;
            overflow-y: hidden;
            position: relative;
            margin-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            .home-two__title{
                font-size: 11em;
                position: absolute;
                top: 49%;
                left: 0;
                transform: translateY(-50%);
                width: 70%;
                line-height: 1.16;
                z-index: 1;
            }
            .home-two_sliders {
                margin: auto;
                height: 32vw;
                width: 28vw;
                min-height: 350px;
                overflow: hidden;
                z-index: 3;
                background: #fff;
                opacity: 0;
                transition: all 0.5s ease;
                .mySwiper {
                    width: 100%;
                    height: 100%;
                    .home-two_slider-img {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.section.active {
    .home-two {
        .home-two_sliders {
            opacity: 1;
            transition: all 0.5s ease;
            transition-delay: 0.5s;
        }
        
    }
}

@media screen and (max-width: 1345px) {
    .home-two {
        .home-two__title {
            font-size: 9.6em !important;
        }
    }
}


@media screen and (max-width: 1024px) {
    .home-two {
        .home-two_sliders {
            width: 60vw !important;
            height: 60vw !important;
        }
        .home-two__title {
            font-size: 9em !important;
        }
    }
}




@media screen and (max-width: 576px) {
    .home-two {
        .home-two_main {
            .home-two__title {
                font-size: 6em !important
                ;
            }
            .home-two_sliders {
                width: 70vw !important;
            }
        }
    }
}
