@import "../../../../Assets/style/variables";

.works {
    .works-container {
        .works-item {
            position: relative;
            padding-top: 56.25%;
            transition: all 0.3s ease;
            cursor: pointer;
            max-height: 195px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            .works-item-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba($color: #000000, $alpha: 0.4);
                z-index: 10;
                opacity: 0;
                transition: all 0.3s ease;
            }
            .works-item-img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                img {
                    object-fit: cover;
                }
            }
            .works-item-desc {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 20px;
                color: map-get($map: $color, $key: w);
                opacity: 0;
                transition: all 0.5s ease;
                transition-delay: 0.2s;
                z-index: 11;
                p {
                    font-family: Montserrat-SemiBold;
                    font-size: 11px;
                    text-align: left;
                }
                h3 {
                    margin-top: 20px;
                    font-family: Montserrat-SemiBold;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            &:hover {
                transform: translateY(-5px);
                .works-item-desc {
                    opacity: 1;
                    transition: all 0.5s ease;
                }
                .works-item-bg {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .works-item-desc  {
        opacity: 1 !important;
        transform: unset !important;
        top: unset !important;
        bottom: 15px;
        height: 80px !important;

    }
    
}
@media screen and (max-width: 576px) {
    .works-item-bg {
        opacity: 1 !important;
        top: 40% !important;
    }
    .works-item-desc {
        h3 {
            font-size: 14px !important;
        }
    }
}