@import "./Assets/style/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select-none {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#fp-nav.fp-right {
  z-index: 1 !important;
  ul{
    li {
      a {
        span {
          border-radius: unset !important;
          background: #fff;
          width: 8px !important;
          height: 8px !important;
          margin: unset !important;
          transition: all 0.5s ease;
        }
      }
      a.active, a:hover {
        span {
          background: map-get($map: $color, $key: green-1) !important;
          margin: unset !important;
          width: 30px !important;
          transform-origin: left center;
          transform: translateX(-22px) !important; 
          transition: all 0.5s ease;
        }
      }
    }
  }
}
.fp-overflow {
  overflow: hidden !important;
}
.fp-watermark {
  display: none !important; 
}
